body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-container {
  width: 520px;
  height: 400px;
  background: linear-gradient(165deg, #141414, #4d4d4d);
  color: #87ceeb;
  border-radius: 20px;
  border-bottom: 5px inset #daa520;
  border-right: 5px outset #daa520;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  justify-content: space-evenly;
}

#login-input {
  background: #ffffff00;
  color: #87ceeb;
  font-family: Anybody, serif;
  font-style: italic;
  font-size: 1em;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  border-bottom-color: #daa520;
  border-left-style: hidden;
  margin-left: 5px;
  width: 200px;
}

#login-input:focus {
  outline: none;
}

#login-input::placeholder {
  color: #daa520;
  opacity: 0.5;
  text-align: left;
  padding-left: 10px;
  font-size: 1em;
}

.login-register-button-container {
  width: 250px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

#login-signup-buttons {
  background: #ffffff00;
  color: #87ceeb;
  font-family: 'Acme', serif;
  width: 110px;
  border-radius: 1em;
  border-top: 2px double #daa520;
  border-right-style: none;
  border-bottom: 5px inset #daa520;
  border-left-style: none;
  transition: transform 0.2s;
}

#login-signup-buttons:hover {
  background: linear-gradient(to bottom, #daa520, #daa52025);
}

#login-signup-buttons:active {
  transform: translateY(2px);
}

.username-container, .password-container {
  position: relative;
}

.username-container i, .password-container i {
  position: absolute;
  top: 50%;
  left: 0.8rem;
  color: #daa520;
  transform: translateY(-50%);
  font-size: 16px;
}

.username-container input, .password-container input {
  padding-left: 20px;
}

.brand-logo-container h1 {
  color: #87ceeb;
  font-weight: normal;
  font-family: 'Aclonica';
}

.brand-logo-container span {
  color: #daa520;
  font-family: Artifika, serif;
  font-weight: bold;
  margin-left: 5px;
  border-radius: 0.5em;
  padding: 5px;
  border: 3px outset #daa520;
  box-shadow: 0px 4px 4px 1px #daa520;
}

.logo-gif-container {
  width: auto;
  height: auto;
  display: flex;
  margin-top: -60px;
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-evenly;
}

.logo-gif-container lottie-player {
  margin-top: -3px;
  max-height: 100px;
  min-height: 50px;
  height: auto;
  max-width: 100px;
  min-width: 50px;
  width: auto;
}

.weather-widget {
  width: 100%;
  max-width: 470px;
  background: linear-gradient(165deg, #141414, #4d4d4d);
  color: #87ceeb;
  border-radius: 2em;
  padding: 40px 35px;
  text-align: center;
  border-bottom: 5px inset #daa520;
  border-right: 5px outset #daa520;
  display: flex;
  justify-content: center;
}

#Login-Button {
  background: #ffffff00;
  font-size: 32px;
  color: #0897e6;
  font-family: 'Acme', serif;
  width: 110px;
  border-radius: 1em;
  border-top: 2px double #daa520;
  border-right-style: none;
  border-bottom: 5px inset #daa520;
  border-left-style: none;
  transition: transform 0.2s;
}

#Login-Button:hover {
  background: linear-gradient(165deg, #a47a1e, #d3a84c, #ffec94, #e6be6f, #ffd87c, #b58f3e, #956d13);
}

#Login-Button:active {
  transform: translateY(2px);
}

