header {
  background-color: #333;
  border-bottom: 4px solid #daa520;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-div {
  display: inherit;
  align-items: left;
  flex: 1;
  padding-left: 50px;
}

#search-bar {
  display: flex;
  align-items: right;
  padding-right: 50px;
}

#header-text {
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-right: 10px;
}

#header-text-colored {
  color: #daa520;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
} */


/* form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

form label,
form input,
form button {
  margin: 10px;
}

form label {
  font-size: 14px;
  flex: 0 0 100%;
}

form input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

form button {
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
} */

label {
  position: relative;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}

label span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(5px, 8px);
  color: #aaa;
  pointer-events: none;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
}

label input:focus+span,
label input:not(:placeholder-shown)+span {
  transform: translate(0, -20px);
  font-size: 12px;
  color: #000;
}

input {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5em;
  border-bottom: 4px solid #757373;
  font-size: 16px;
}

button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4e4d4d;
  border: 2px solid #757373;
  border-radius: 5em;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
  border-color: #daa520;
}

button:active {
  background-color: #daa520;
}


#city-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc;
}

#city-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

#city-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc;
}

#city-input:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
  opacity: 1;
}


#weather-results {
  margin-top: 20px;
  font-size: 18px;
}